<nav>
    <div class="nav-div">
        <div class="site-title">
            <a href="/" class="logo"><h1>Node Project</h1></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contentCreation">New Dynamic Content</a></li>
        </ul>
    </div>
    <hr>
    <div class="intro-text">
        <p class="head-text">we are trying to be Full-Stack</p>
    </div>
    <div class="animated-div"></div>
</nav>