<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %>
<body>
    <%- include('../partials/nav.ejs')  %>

    <div class="404-content">
        Oops page not found!!
    </div>
    <br>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>