<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %>
<body>
    <%- include('../partials/nav.ejs')  %>

    <div class="about-content main-content-display">
        <h2>About-Me</h2>
        <p>An demi content for about me guys nothing special</p>
        <p>An demi content for about me guys nothing special</p>
        <p>An demi content for about me guys nothing special</p>
    </div>
    <br>

    <%- include('../partials/footer.ejs')  %>
</body>
</html>