<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node trail</title>
    <link rel="stylesheet" href="index.css">
</head>
<body style="padding: 25px; text-align: center;">
    <h1 style="color: blue; text-shadow: black 1px .5px 25px;">Hello Bro you are node master</h1>
    <p>You have successfully gotten data from html page</p>
    <div class="div">
        <button 
        style="
            background-color: lightblue; 
            padding: 5px 30px; 
            border-radius: 15px; 
            border: solid blue 2px;
            margin: 0 10px;
            text-decoration: none;
            box-shadow: blue 2px 2px 4px;
            "
        > <a 
            style="
                text-decoration: none;
                font-size: 14px; 
                font-weight: 800;
            "
            href="/">Home Page</a></button>
        <button
            style="
                background-color: lightblue; 
                padding: 5px 30px; 
                border-radius: 15px; 
                border: solid blue 2px;
                margin: 5px 10px;
                text-decoration: none;
                box-shadow: blue 2px 2px 4px;          
            "
        > <a
            style="
                text-decoration: none;
                font-size: 14px; 
                font-weight: 800;
            "
        href="/about">About Page</a></button>
    </div>
    <hr>
    <section style="background-color: whitesmoke; padding: 20px; box-shadow: lightblue 4px 4px 7px;">
        <img style="width: 900px; height: 600px; box-shadow: 5px 5px 12px lightblue; padding: 10px;" src="https://cdn.wallpapersafari.com/88/75/QKFd98.gif" alt="">
    </section>
</body>
</html>
